[submodule "utils"]
	path = utils
	url = https://github.com/HorusCSB/mfe-utils.git
[submodule "single-spa"]
	path = single-spa
	url = https://github.com/HorusCSB/single-spa.git
[submodule "react-parcel"]
	path = react-parcel
	url = https://github.com/HorusCSB/react-parcel.git
[submodule "react-intern"]
	path = react-intern
	url = https://github.com/HorusCSB/react-intern.git
[submodule "react-lazy"]
	path = react-lazy
	url = https://github.com/HorusCSB/react-lazy.git
